---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "main";

@media(min-width: 600px) {
  .about-thumb {
    display: inline-block;
    margin: 0 2em 2em 2em;
    float: left;
  }
}
